---

---

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "_colors-core",
  "_sass-definitions",
  "_mixins",
  "_animations",
  "_html-elements",
  "_modifiers",
  "_syntax-highlighting",
  "_icomoon",
  "_header",
  "_footer",
  "_z-index";

// PAGES
@import
  "page/home",
  "page/about",
  "page/faqs";

// COMPONENTS
@import
  "component/testimonial",
  "component/overlay",
  "component/request-demo",
  "component/sign-up",
  "component/social";


// GLOBAL STUFF - Keep it light
.main{
  background: $white;
  min-height: 300px;

  section {
    padding: $spacing-loosest 0;
  }
}
