---

---

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "_colors-core",
  "_sass-definitions",
  "_mixins",
  "_html-elements",
  "_modifiers",
  "_syntax-highlighting",
  "_header",
  "_footer",
  "_z-index";

// PAGES
@import
  "page/home",
  "page/about";

// COMPONENTS
@import
  "component/testimonial";
