# Site settings
title: TravelPerk
email: info@travelperk.com
description: > # this means to ignore newlines until "baseurl:"
  TravelPerk is a free tool to help office managers book &amp; manage their business travel all in one place, offering expense integration and travel budget reporting too.
host: "http://travelperk.com"
baseurl: "" # the subpath of your site, e.g. /blog/
url: "http://travelperk.com" # the base hostname & protocol for your site
permalink: /blog/:title/
exclude: [node_modules, gulpfile.js, vendor]

# Build settings
markdown: kramdown
jquery_version: 1.11.3
modernizr:  true
post_dirs: false

# Site defaults
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      author: "Javier Suarez"
      category: "Business Travel"
  -
    scope:
      path: "pages"
      type: "pages" # previously `_sass-page` in Jekyll 2.2.
    values:
      layout: "page" # overrides previous default layout

sass:
    sass_dir: _includes
    style: compressed

# Compress HTML settings via http://jch.penibelst.de/
compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]
  endings: []
  profile: false
  ignore:
    envs: [local]

# Prose settings
prose:
  rooturl: '_posts'
  siteurl: 'http://travelperk.com/'
  relativeLinks: 'http://travelperk.com'
  media: 'blog-media'
  ignore:
    - index.md
    - _config.yml
    - /_layouts
    - /_includes
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "tags"
        field:
          element: "select"
          label: "Choose Author"
          placeholder: "Who wrote this post"
          options:
            - name: "Avi Meir"
              value: "avi"
            - name: "Javier Suarez"
              value: "javier"
            - name: "Ron Levin"
              value: "ron"
      - name: "tags"
        field:
          element: "multiselect"
          label: "Add Tags"
          placeholder: "Choose Tags"
          options:
            - name: "Business travel"
              value: "business travel"
            - name: "Process"
              value: "process"
            - name: "Cost saving"
              value: "cost saving"
    _posts/static:
      - name: "layout"
        field:
          element: "hidden"
          value: "page"
      - name: "permalink"
        field:
          element: "text"
          label: "Permalink"
          value: ""
