<nav class="site-nav">
  <!-- To add pages to the main nav, add nav: main to the YAML Front Matter -->
  <button id="btn-menu" class="btn-menu" data-ga-category="Site nav">Menu</button>
  {% assign pages = site.pages | sort:"weight"  %}
  <ul>
    <li><a href="/">Home</a></li>
    {% for p in pages %}
    {% if p.nav-header == true %}
    <li {% if p.url == page.url %}class="current"{% endif %}>
      <a href="{{ p.url }}" class="{{ p.nav-class }}" data-ga-category="Site nav">
        {% if p.nav-title %}
          {{ p.nav-title }}
        {% else %}
          {{ p.title }}
        {% endif %}
      </a>
    </li>
    {% endif %}
    {% endfor %}
    <li>
      <a href="https://travelperk.bamboohr.co.uk/jobs/">Join Us</a>
    </li>
    <li>
      <a href="/blog" data-ga-category="Site nav">Blog</a>
    </li>
    <li>
      <a id="btn-login" href="http://beta.travelperk.com" data-ga-category="Site nav">Log in</a>
    </li>
    <li>
      <button id="btn-sign-up-nav" class="btn-sign-up" data-ga-category="Site nav">Start Trial</button>
    </li>
  </ul>
</nav>
