<!-- Budget -->
</section>
<section id="budget" class="fill-screen budget">
  <div class="wrapper">
    <h2>Dynamic budgets</h2>
    <p>Through dynamic real-time budgeting of business trips, companies no longer face the challenge of setting arbitrary budgets for business trips that do not reflect the reality of fluctuating market prices.</p>
    <div>
      <h3>Global coverage &amp; flexible policies</h3>
    </div>
  </div>
  <img src="//placehold.it/1280x500?text=Dynamic+budget+graphic" alt="Budget image">
</section>
