<!-- Budget -->
</section>
<section id="budget" class="fill-screen budget">
  <div class="wrapper">
    <h2>The clever stuff <small>(a.k.a our Dynamic Budget algorithm)</small></h2>
    <p>When a travel manager or employee goes to search for their required trip, we not only display available results, we also create a budget for their trip in real-time. This dynamic budgeting algorithm is a revolutionary way for your company to manage business travel costs in a way that is always fair to the employee who is traveling.</p>
    <p>By providing TravelPerk with the details of each of your travel policies, we ensure that each employee is given a realistic budget tailored to their specific conditions of travel. Employees can choose to go over their budget <em>(if, for example, the have to travel at a particular time)</em> but will be asked their reason for doing so - giving you complete visibility of your employees travel spend.</p>
  </div>
  <div class="budget-img-wrapper">
    <img class="dynamic-budget" src="/imgs/dynamic-budget.jpg" alt="Business travel needs dynamic budgets">
    <p>As you can see from the above illustration, by having a static budget, your employees would not have enough budget to travel during the start of July and through August and September and may spend more than they need to throughout May and June.</p>
    <p>By using a Dynamic Budget, your company could save over 30% on its travel costs whilst instilling a cost-conscious travel culture.</p>
  </div>
</section>
