<!-- Budget -->
</section>
<section id="budget" class="fill-screen budget">
  <img class="budget-graph clip-css" src="/imgs/graph.svg" alt="Example travel budget graph"/>
  <div class="wrapper">
    <h2>Dynamic budgets</h2>
    <div class="flex fixed">
      <ul>
        <li>Over 500,000 accommodation prices checked using Booking.com</li>
        <li>All major global airlines and low cost carriers prices</li>
        <li>Budget is customised to each users travel policy, giving maximum flexibility</li>
      </ul>
      <div class="card">
        <h3>Global coverage &amp; flexible policies</h3>
        <p>When searching for your business travel, TravelPerks DynamicBudget&trade; is created by checking your dates and times of travel against live data giving you an accurate budget to work with. What's more, you can customise your companies policies to accommodate the flexibilty that you need for the different members of your team.</p>
      </div>
    </div>
  </div>
</section>
