<!-- Customer types -->
<section id="customer_types" class="customer-types">
  <div class="flex fixed">
    <img src="/imgs/traveler.svg" alt="Business traveller"/>
  <span class="wrapper">
    <h2>Benefits for employees</h2>
    <ul class="ticks">
      <li>It pays to save! When you save money on your travel budget you can claim up to 50% back in store vouchers. Win-win. <em>(optional feature)</em></li>
      <li>Easily search and submit your travel booking using just one single platform.</li>
      <li>Send your travel requests for approval or use our self-service booking if you have your own company card.</li>
    </ul>
    <a href="/for-traveling-employees/">Find out more about Employee Perks</a>
  </span>
  </div>
  <div class="flex fixed">
    <img src="/imgs/booker.svg" alt="Travel bookers"/>
  <span class="wrapper">
    <h2>TravelPerk for bookers</h2>
    <ul class="ticks">
      <li>Search flights, accommodation, rail and and car hire all from one place.</li>
      <li>Instant access to all travel documents <em>(no more wrestling with email chains).</em></li>
      <li>Submit travel requests or book directly using self-service.</li>
      <li>Approvals flow means that employees can find the best travel for them which is within budget and all you
        need to do is approve.
      </li>
      <li>A single itinerary for all of your bookings.
      </li>
      <li>Complete visibility of all upcoming and past trips.</li>
    </ul>
    <a href="/for-travel-bookers/">Find out more about Travel Booker Perks</a>
  </span>
  </div>
  <div class="flex fixed">
    <img src="/imgs/managers.svg" alt="Managers"/>
  <span class="wrapper">
    <h2>TravelPerk for Managers</h2>
    <ul class="ticks">
      <li>See travel spend across the company, by employee, team or department.</li>
      <li>Approval work-flows give you full control over travel bookings.</li>
      <li>Adopt a cultural change across the company by focusing on savings made through smarter business travel.</li>
      <li>Reward staff for beating the budget with an incentivised rewards scheme.</li>
      <li>Payment options to suit your business. Add company cards for booking or choose to get invoiced monthly.</li>
    </ul>
    <a href="/business-travel-for-execs/">Find out more about Manager Perks</a>
  </span>
  </div>
</section>
