<!-- Customer types -->
<section id="customer_types" class="customer-types">
  <div id="slide_wrapper" class="slides-wrapper" data-state="slide-one">
    <div id="user_one" class="slide">
      <div class="wrapper">

        <p class="intro"><strong>Save over 30% on travel costs</strong> and free up 80% of your time &mdash; you will wonder how you ever managed without TravelPerk.</p>

        <h2>More control. Greater efficiency.</h2>
        <p>If you regularly book business travel for others, TravelPerk makes your life easier. You can manage travel policies, budgets and payment methods while also having complete visibility of all trips - both in the past and upcoming.</p>
        <p>As TravelPerk is a web-based tool and not a travel agent, you or your colleagues can search and book your business travel 24/7. Though we are web-based, we do also offer customer support for any complex travel needs.</p>
      </div>
      <div class="feature laptop">
        <div class="wrapper flex two">
          <div>
            <img class="product-shot" src="/imgs/product-shots/search-flights-and-hotels.png" alt="Hotels and flight search in one tool">
          </div>
          <div class="content">
            <h3>Search flights &amp; hotels in one tool</h3>
            <p>No more jumping back and forth between different websites. With TravelPerk, you will be able to search all of the major airlines and over 800,000 hotels worldwide - all from one single tool.</p>
            <button class="honeypot-btn" id="honeypot-one" data-ga-category="Honeypot button" data-ga-label="More Flights and Hotels">Find out more</button>
          </div>
        </div>
      </div>
      <div class="feature divider">
        <div class="wrapper flex two reverse">
          <span>
            <img src="/imgs/product-shots/travel-documents.jpg" alt="Business travel documents">
          </span>
          <div class="content">
            <h3>Easily manage traveler details</h3>
            <p>With TravelPerk you can easily add new travelers to the tool. Once you have booked a trip for someone TravelPerk will remember the travelers important details for next time, so you will no longer need to retype passport numbers or frequent flyer programs again. </p>
            <button class="honeypot-btn" id="honeypot-two" data-ga-category="Honeypot button" data-ga-label="More manage traveler details">Find out more</button>
          </div>
        </div>
      </div>
      <div class="feature divider">
        <div class="wrapper flex two">
          <span>
            <img class="product-shot" src="/imgs/product-shots/payment-options.jpg" alt="Flexible business travel payments">
          </span>
          <div class="content">
            <h3>Flexible payment options</h3>
            <p>We understand the need for flexible payment methods, which is why with TravelPerk you can book using any number of credit cards, or you can choose to be invoiced monthly for your business travel bookings.</p>
            <button class="honeypot-btn" id="honeypot-three" data-ga-category="Honeypot button" data-ga-label="More flexible payment options">Find out more</button>
          </div>
        </div>
      </div>
      <div class="feature divider">
        <div class="wrapper flex two reverse">
          <span>
            <img src="/imgs/product-shots/single-itinerary.jpg" alt="Multiple travel documents">
          </span>
          <div class="content">
            <h3>One booking confirmation for the complete trip</h3>
            <p>TravelPerk sends you one email per trip, containing all flights and hotels details. As well as the invoice for the trip.</p>
            <button class="honeypot-btn" id="honeypot-four" data-ga-category="Honeypot button" data-ga-label="More single confirmation">Find out more</button>
          </div>
        </div>
      </div>
      <div class="feature flex two">
        <span>
          <img class="product-shot" src="/imgs/product-shots/integration-expense.jpg" alt="TravelPerk integrates with Expensify">
        </span>
        <div class="content">
          <h3>Expenses integration</h3>
          <p>Your travel bookings will automagically appear in your expense report thanks to TravelPerk's integrated expense management partners.</p>
        </div>
      </div>
</section>
