<!-- Customer types -->
<section id="customer_types" class="customer-types">
  <h2>We make travel booking easier for...</h2>
  <nav class="customer-type-nav">
    <ul class="collapse flex">
      <li>
        <h3>Travel Bookers</h3>
        <button id="btn_booker" class="active">
          <span class="icon-booker"></span>
        </button>
      </li>
      <li>
        <h3>Travelers</h3>
        <button id="btn_traveler">
          <span class="icon-traveler"></span>
        </button>
      </li>
      <li>
        <h3>Executives</h3>
        <button id="btn_manager">
          <span class="icon-managers"></span>
        </button>
      </li>
    </ul>
  </nav>

  <div id="slide_wrapper" class="slides-wrapper" data-state="slide-one">
    <div id="user_one" class="slide">
      <div class="wrapper">
        <h2>More control. More efficient</h2>
        <p>Wether you are a PA, Travel Manager or you happen to book travel for one or many of your colleagues from time to time, TravelPerk has many great time-saving features to make your life easier!</p>
      </div>
      <div class="feature flex">
        <span>
          <img class="product-shot" src="/imgs/product-shots/hotel-flight.png" alt="Hotels and flight search in one tool">
        </span>
        <span class="content">
          <h3>Search for flights &amp; hotels using the same tool!</h3>
          <p>No more jumping back and forth between different websites. With TravelPerk, you will be able to search all of the major airlines and over 500,000 hotels worldwide.</p>
          <a href="/" class="btn">Find out more...</a>
        </span>
      </div>
      <div class="feature flex reverse">
        <span>
          <img src="//placehold.it/1024x768?text=Product+screenshot" alt="Product shot">
        </span>
        <span class="content">
          <h3>Access to all travel documents</h3>
          <p>Tired of searching through emails to find those travel documents, to then resend them? In TravelPerk, all travel documents related to a trip can be found directly on your dashboard. Travelers will also be able to see their documents for any trips which you have booked for them.</p>
          <a href="/" class="btn">Find out more...</a>
        </span>
      </div>
      <div class="feature flex">
        <span>
          <img src="//placehold.it/1024x768?text=Product+screenshot" alt="Product shot">
        </span>
        <span class="content">
          <h3>Submit travel requests or book directly</h3>
          <p>Using TravelPerks approvals workflow, you will be able to send a travel request for budget sign-off, or alternatively, you can add company credit cards to TravelPerk and select which one to pay with when booking the trip.</p>
          <a href="/" class="btn">Find out more...</a>
        </span>
      </div>
      <div class="feature flex reverse">
        <span>
          <img class="product-shot" src="/imgs/product-shots/dashboard.png" alt="TravelPerk business travel dashboard">
        </span>
        <span class="content">
          <h3>Complete visibility</h3>
          <p>With our dashboard, you will be able to see at a glance all of the upcoming and previous trips.</p>
          <a href="/" class="btn">Find out more...</a>
        </span>
      </div>

      <a href="/for-travel-bookers/">Find out more about Travel Booker Perks</a>

    </div>


    <div id="user_two" class="slide">
      <div class="wrapper">
        <h2>Be rewarded for making smarter travel decisions</h2>
        <p>We understand that business travel can sometimes be tiring, but planning your trip doesn't have to be. TravelPerk is built from the ground up to make sure that booking business travel is a breeze. Not only that, but if your company chooses to enable rewards, you can get up to 50% of your travel savings back as vouchers to spend. It pays to save!</p>
      </div>
      <div class="feature flex">
        <span>
          <img src="//placehold.it/1024x768?text=Product+screenshot" alt="Product shot">
        </span>
        <span class="content">
          <h3>Incentives!!!</h3>
          <p>Yayy!!!</p>
          <a href="/" class="btn">Find out more...</a>
        </span>
      </div>
      <div class="feature flex reverse">
        <span>
          <img src="//placehold.it/1024x768?text=Product+screenshot" alt="Product shot">
        </span>
        <span class="content">
          <h3>Many parts, one itinerary</h3>
          <p>No matter how complicated your trip booking is, TravelPerk will display all of your trip details in a nice, easy-to-read format.</p>
          <a href="/" class="btn">Find out more...</a>
        </span>
      </div>
      <div class="feature flex">
          <span>
            <img src="//placehold.it/1024x768?text=Product+screenshot" alt="Product shot">
          </span>
          <span class="content">
            <h3>Search for flights &amp; hotels using the same tool!</h3>
            <p>No more jumping back and forth between different websites. With TravelPerk, you will be able to search all of the major airlines and over 500,000 hotels worldwide.</p>
            <a href="/" class="btn">Find out more...</a>
          </span>
      </div>
      <div class="feature flex reverse">
        <span>
          <img src="//placehold.it/1024x768?text=Product+screenshot" alt="Product shot">
        </span>
        <span class="content">
          <h3>No more complex requests</h3>
          <p>Whether you have a company credit card, or need approval for travel from your manager, TravelPerk makes it easy by allowing you to add cards or simply enter the email your manager to get sign-off on your trip.</p>
          <a href="/" class="btn">Find out more...</a>
        </span>
      </div>

      <a href="/for-traveling-employees/">Find out more about Employee Perks</a>
    </div>


    <div id="user_three" class="slide">
      <div class="wrapper">
        <h2>Complete visibility &amp; control</h2>
        <ul class="ticks">
          <li>See travel spend across the company, by employee, team or department.</li>
          <li>Approval work-flows give you full control over travel bookings.</li>
          <li>Adopt a cultural change across the company by focusing on savings made through smarter business travel.</li>
          <li>Reward staff for beating the budget with an incentivised rewards scheme.</li>
          <li>Payment options to suit your business. Add company cards for booking or choose to get invoiced monthly.</li>
        </ul>
        <a href="/business-travel-for-execs/">Find out more about Manager Perks</a>
      </div>
    </div>
  </div>
</section>
