<!-- FAQs -->

<section id="faqs" class="faqs">
  <div class="wrapper">
    <h3>With which web browsers and screen sizes is TravelPerk compatible?</h3>
    <p>We aim to bring you the best experience when using TravelPerk. We recommend using the following up-to-date browsers:</p>
    <ul>
      <li>Chrome</li>
      <li>Firefox</li>
      <li>Safari</li>
      <li>Opera <em>(support for latest version - 1)</em></li>
      <li>IE 10+</li>
    </ul>
    <p>If you are using anything other than these we cannot guarantee that everything will look and work as intended. If you have any issues, or any questions on browser support within your company, please <a href="mailto:hello@travelperk.com?subject=Browser support enquiry">get in touch</a>.</p>
    <h3>What languages does TravelPerk support?</h3>
    <p>Our platform is currently offered only in English. We expect to translate TravelPerk into more languages during 2016.
    However, we do offer phone and email customer support in French, German, Hebrew and Spanish via <a href="mailto:agent@travelperk.com?FAQ Language support">agent@travelperk.com</a>.</p>

    <h3>In which countries does TravelPerk operate?</h3>
    <p>We are U.S. legal entity with operations headquartered in Barcelona, Spain. However, we work with customers across Europe, North and South America, Asia, Australia and the Middle East.</p>

    <h3>Which currencies does TravelPerk support?</h3>
    <p>We can display and bill prices in all of the world's major currencies.</p>

    <h3>Is TravelPerk a licensed travel agency?</h3>
    <p>Yes, we are registered as a travel agency in Spain under number GC-004266</p>

    <h3>What does TravelPerk cost to use?</h3>
    <p>Our basic platform is free to use for an unlimited number of travelers.  We earn money through travel booking commissions. For larger organizations which require customized premium features, e.g. for special reporting requirements, we do charge in order to cover our development costs. Please <a href="mailto:hello@travelperk.com?subject=FAQ special request">contact us directly</a> for details.</p>

    <h3>Who can use TravelPerk?</h3>
    <p>Any company of any size, located anywhere in the world, which needs to travel for business, may use TravelPerk.  Within companies, travel is often managed by a dedicated travel manager, an office manager or personal assistants.  In some cases, the employees book for themselves. Our system allows any employee to book for themselves and to book for others. The platform is fully flexible in this regard and each company may decide for themselves who has access to make bookings.</p>

    <h3>How do I pay TravelPerk for my travel bookings?</h3>
    <p>We offer two options:</p>
    <ol>
      <li>You may pay with one or more credit cards.  Once you use a credit card once, the details will be stored via a secure PCI-compliant 3rd party payment provider.</li>
      <li>We can send you a regular invoice for your travel purchases.</li>
    </ol>
      <p>Please <a href="mailto:hello@travelperk.com?subject=FAQ payment options request">contact us</a> to discuss this option.</p>

    <h3>How do I know I am getting the most available options for flights and hotel?</h3>
    <p>TravelPerk gets its inventory of available flights and hotels from world-class global suppliers. We offer flights from nearly all of the world's full-service and low-cost airlines. We also have over 800,000 hotels, apartments and other accommodation types available. There is hardly anyone who can offer more choices than we do.</p>

    <h3>What kind of customer support do you offer?</h3>
    <p>We strive to deliver "insane" customer service and do whatever is possible to ensure that your needs are being met!  We have phone and email support available 7 days a week and we are on call most hours of the day. We cannot necessarily solve every problem, as many issues with airlines, hotels, etc. are outside of our control. However, we commit to doing our best to make our customers happy!</p>

    <h3>How does your real-time budgeting feature work and what is the purpose of it?</h3>
    <p>When a travel manager or employee goes to search for their required trip, we not only display available results, we also create a budget for their trip in real-time. This dynamic budgeting algorithm is a revolutionary way for your company to manage business travel costs in a way that is always fair to the employee who is traveling.</p>
    <p>When your company signs up to work with TravelPerk, you provide us with information about your employee travel policies (e.g. always economy class flights, 3-star hotel standard, etc.). These policies can be virtually as granular as you would like, including prioritizing certain airlines and excluding specific airports. You may also create different sets of policies for different traveler groups, such as "sales team" or "leadership team."</p>
    <p>We then take these policies and apply them to the actual trip that the employee is planning to take. This means that we use "actual" real-time pricing data to gauge what a fair price is to pay according to the needs of the traveler. Essentially, the budget is the price at which an employee should not "need" to go higher.</p>
    <p>The system allows travelers to book travel that is above these real-time budgets, however we have seen many companies find this form of budgeting to be fairer and more equitable than using static budgets that do not reflect the reality of volatile pricing changes due to peaks and troughs in demand for travel services.</p>

    <p>Please <a href="mailto:hello@travelperk.com?subject=Enquiry from FAQ page">contact us</a> if you would like any further details about this unique service!</p>

    <h3>What are these "perks" that your system offers?</h3>
    <p>We offer an exciting optional feature that helps your company save more money on business travel while making your employees happy. You may choose to offer employees an incentive for booking below their dynamically-created budget. Some of our customers provide a reward equal to 50% of the amount they go below their budget. Our platform facilitates this reward calculation and redemption store. By using this system, we have seen companies save an average of 30% on their business travel. Please do ask us about this if it is something you would like to test within your organization!</p>

    <h3>Our employees need to receive approval before they can book their travel.  Do you offer this possibility within your system?</h3>
    <p>Yes, we offer an optional solution within the TravelPerk system that ensures trip approval prior to booking confirmation. Just ask if you would like to see a demo of how this works.</p>
  </div>
</section>
