<!--
README:
Holds all of the form content excluding the form and button.
We need unique IDs and different tracking on submit buttons
so these are excluded from this include.
-->

  <div class="flex three">
      <span>
        <input type="hidden" name="utf8" value="✓">
        <label for="name">Your Name</label>
        <input id="name" class="name" name="name" type="text" placeholder="Your Name" required="required">
      </span>
      <span>
        <label for="company">Company Name</label>
        <input id="company" type="text" name="company" placeholder="Your Company" required="required">
      </span>
      <span>
        <label for="email" name="_replyto">Company Email</label>
        <input id="email" type="email" name="email" placeholder="Company Email" required="required">
      </span>
      <span>
        <label for="travelers">How many employees travel often?</label>
        <select name="travelers" id="travelers" required>
          <option value="0" disabled selected>Please select</option>
          <option value="1-10">1-10 travelers</option>
          <option value="11-50">11-50 travelers</option>
          <option value="51-100">51-100 travelers</option>
          <option value="100-500">100-500 travelers</option>
          <option value="500+">500+ travelers</option>
        </select>
      </span>
      <span class="checkboxes">
        <p class="label">How do you currently book travel?</p>
        <label class="checkbox" for="office_manager">
          <input type="checkbox" id="office_manager" name="office_manager">
          <span></span>I book for others
        </label>
        <label class="checkbox" for="self_service">
          <input type="checkbox" id="self_service" name="self_service">
          <span></span>Employees book themselves
        </label>
      </span>
  </div>
  <div id="extra_information" class="extra-information">
    <hr>
    <p>OK<strong id="prospect_name"></strong>, would you mind briefly telling us about your current office locations and why you need a tool like TravelPerk?</p>
    <textarea name="comment" id="comment" rows="2" ></textarea>
  </div>
  <input type="hidden" name="_subject" value="TravelPerk Demo request" />
  <input type="hidden" name="_cc" value="brandon@travelperk.com,chris@travelperk.com,maria@travelperk.com" />
  <input type="text" name="_gotcha" style="display:none" />
  <input type="hidden" name="_next" value="http://www.travelperk.com/demo-request-confirmation/" />
