<div id="overlay" class="overlay">
  <button id="close" class="clear icon-close" data-ga-category="Overlay" data-ga-label="Close overlay"></button>
  <div id="request-demo-overlay" class="overlay-content">
    <section id="request-demo" class="request-demo">

      <h3>Making business travel management a whole lot simpler.</h3>
      <h2 class="wrapper">Ready to get started?</h2>

      <form accept-charset="UTF-8" action="http://formspree.io/{{ site.contact.sales }}" method="POST" class="sign-up-form" id="sign_up_form"
            data-gaCategory="Signup"
            data-gaAction="SubmitContact"
            data-gaLabel="Popup">

        {% include component/form-request-demo.html %}

        <button id="request-demo-submit" type="submit">Request demo</button>
      </form>
    </section>

  </div>
</div>
