<!-- Problem -->

<section id="problem" class="the-problem">
  <div class="wrapper fill-screen">
    <h2>How Travel Booking looks today</h2>
    <ul class="flex fixed-header padded collapse vertical-middle fill-screen">
      <li>
        <h3>Fixed budgets</h3>
        <p>Travel costs are not fixed, so why should your travel booking be? Having a fixed travel budget could mean that you pay much more during off-peak times or when travelling to cheaper destinations. <strong>Our Dynamic Budget helps you to save</strong>.</p>
      </li>
      <li>
        <h3>Too many tools</h3>
        <p>With TravelPerks intuitive interface, you can create your own travel plans, create trips for colleagues and communicate all the details from within TravelPerk. <strong>One log in, one place for all of your business travel</strong> <em>(including travel documents and itineraries).</em></p>
      </li>
      <li>
        <h3>No incentives to save</h3>
        <p>With TravelPerk, our dynamic real-time budgets can save your company up to 30% on regular travel costs. In addition to this, you can also set up TravelPerk rewards which will <strong>incentivise staff to make further savings</strong> on their travel plans.</p>
      </li>
    </ul>
  </div>
</section>
