<section id="publicity" class="publicity">
  <h2>As seen on...</h2>
  <div class="wrapper flex space-around">
    <a
      href="http://www.businessbecause.com/news/mba-entrepreneurs/3621/iese-business-school-entrepreneurs-to-conquer-cyberspace">
      <img src="/imgs/publicity/logo-business-because.png" alt="Business Because logo">
    </a>
    <a
      href="http://www.newstostartup.com/el-91-de-los-trabajadores-admiten-que-despilfarran-en-los-viajes-de-empresa/">
      <img src="/imgs/publicity/logo-news-to-startup.png" alt="News to Startup logo">
    </a>
    <a href="http://radiokanalbarcelona.com/programes/englishradio/">
      <img src="/imgs/publicity/logo-radio-kanal-barcelona.png" alt="Radio Kanal Barcelona logo">
    </a>
  </div>
</section>
