<section id="publicity" class="publicity color">
  <h3>As seen on...</h3>
  <div class="wrapper flex four">
    <span>
      <img src="/imgs/publicity/logo-new-york-times.svg" alt="New York Times logo">
    </span>
    <span>
      <img src="/imgs/publicity/logo-forbes.svg" alt="Forbes logo">
    </span>
    <span>
      <img src="/imgs/publicity/logo-financial-times.svg" alt="Financial Times logo">
    </span>
    <span>
      <img src="/imgs/publicity/logo-bbc.svg" alt="BBC logo">
    </span>
  </div>
</section>
