<!-- Sign up -->

<section id="request-demo" class="request-demo">
    <h2 class="wrapper">Ready to get started?</h2>
    <div class="card">
      <p>TravelPerk helps you save money while making business travel management a whole lot simpler.</p>

      <form accept-charset="UTF-8" action="http://formspree.io/hello@travelperk.com" method="POST">
        <div class="flex three">
        <span>
          <input type="hidden" name="utf8" value="✓">
          <label for="name">Your Name</label>
          <input id="name" type="name" name="name" placeholder="Your Name" required="required">
        </span>
        <span>
          <label for="company">Company Name</label>
          <input id="company" type="text" name="company" placeholder="Your Company" required="required">
        </span>
        <span>
          <label for="email" name="_replyto">Your Email</label>
          <input id="email" type="email" name="email" placeholder="Your Email" required="required">
        </span>
        </div>
        <input type="hidden" name="_subject" value="TravelPerk Demo request" />
        <input type="hidden" name="_cc" value="cgordonroy@gmail.com" />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="http://www.travelperk.com.s3-website-eu-west-1.amazonaws.com/demo-request-confirmation/" />
        <button id="request-demo-submit" type="submit">Request demo</button>
      </form>
    </div>
</section>
