<!-- Sign up -->

<section id="request-demo" class="request-demo bg-gray-dark">
    {% if page.id == "home" %}
    <h3>Making business travel management a whole lot simpler.</h3>
    <h2 class="wrapper">Ready to get started?</h2>
    {% endif %}
    {% if page.id == "sign-up" %}
    <h3 class="wrapper">Start your <strong>free</strong> account today!</h3>
    {% endif %}
    <form accept-charset="UTF-8" action="http://formspree.io/juliana@travelperk.com" method="POST">
      <div class="flex three">
      <span>
        <input type="hidden" name="utf8" value="✓">
        <label for="name">Your Name</label>
        <input id="name" type="name" name="name" placeholder="Your Name" required="required">
      </span>
      <span>
        <label for="company">Company Name</label>
        <input id="company" type="text" name="company" placeholder="Your Company" required="required">
      </span>
      <span>
        <label for="email" name="_replyto">Your Email</label>
        <input id="email" type="email" name="email" placeholder="Company Email" required="required">
      </span>
      </div>
      <input type="hidden" name="_subject" value="TravelPerk Demo request" />
      <input type="hidden" name="_cc" value="cgordonroy@gmail.com" />
      <input type="text" name="_gotcha" style="display:none" />
      <input type="hidden" name="_next" value="http://www.travelperk.com/demo-request-confirmation/" />
      <button id="request-demo-submit" type="submit" data-ga-category="Request demo">Request demo</button>
    </form>
</section>
