<!-- Sign up -->

<section id="request-demo" class="request-demo">
  <div class="wrapper">
    <h2>Ready to get started?</h2>
    <div class="card">
      <p>Drop us your details below and we will be in touch shortly to show how TravelPerk can help save your company money while making travel booking so much easier.</p>

      <form accept-charset="UTF-8" action="https://formkeep.com/f/f0af62c17192" method="POST">
        <div class="flex">
        <span>
          <input type="hidden" name="utf8" value="✓">
          <label for="name">Your Name</label>
          <input id="name" type="name" name="name" placeholder="Your Name">
        </span>
        <span>
          <label for="company">Company Name</label>
          <input id="company" type="text" placeholder="Your Company" required="required">
        </span>
        <span>
          <label for="email">Your Email</label>
          <input id="email" type="email" name="email" placeholder="Your Email">
        </span>
          <!--<label for="size">Size of company</label>
          <select name="size" id="size">
            <option value="1-5">1 - 5 employees</option>
            <option value="6-10">6 - 10 employees</option>
            <option value="10-50">10 - 50 employees</option>
            <option value="50-100">50 - 100 employees</option>
            <option value="100+">100+ employees</option>
          </select>-->
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
