<!-- Travel facts -->

<section id="facts" class="color">
  <div class="wrapper">
    <h2>Did you know?</h2>
    <blockquote>
      A majority of small business travelers (91%) spend more on meals, hotel rooms and room service than when they travel on personal money. In comparison to their older counterparts, millennials (aged 18 to 34) are likeliest to spend more on room service, transportation, alcohol, entertainment, first class airline seats and advance seat selections.
      <p><em>Source: <a
        href="http://www.prnewswire.com/news-releases/expedia-launches-expedia-business-loyalty-program-to-help-small-businesses-save-money-and-bring-order-to-often-messy-travel-process-300079326.html">PR Newswire</a></em></p>
    </blockquote>
  </div>
  <div class="block wrapper">
    <header>Bold and convincing. Facts & figures.</header>
    <h3>Reasons your company needs TravelPerk</h3>
    <ul>
      <li>How much is spend in excess on travel?</li>
      <li>How much time wasted/websites visited?</li>
      <li>How many emails sent?</li>
    </ul>
    <p>Could look at some sort of simple infographic to demonstrate emails sent/sites visited/total time to book etc...</p>
  </div>
</section>
