/*
Any element which does not have properties set will not be output by SASS
*/

/*
GROUP NORMALISATION
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
 canvas,
 progress,
 video {
   display: inline-block; /* 1 */
   vertical-align: baseline; /* 2 */
}
[hidden],
template {
  display: none;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
body, input, p {
  color: $gray-darkest;
  color: transparentize($gray-darkest, .25);
  font-weight: 300;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: $line-height;
  margin: 0;
}
body,
html {
  height: 100%;
}

blockquote,
body,
input,
select,
ol,
p,
ul {
  @include remSize(14px);
}

main {
  p,
  ol{
    margin: 0 auto $spacing-loose;
    //max-width: 50em;
  }
}

@include media-min($screenMedium) {
  blockquote,
  body,
  input,
  ol,
  p,
  ul {
    @include remSize(18px);
  }
}

/*
INDIVIDUAL SELECTORS
*/

*:focus {
  outline: 0; // Remove default browser focus style. You should implement a new focus style for accessibility though!
}

// A
//--------------------------------
a{
  background-color: transparent;
  color: $color-link;
  text-decoration: none;

  &:hover{
    color: $color-hover;
    outline: 0;
  }
  &:active{
    color: $color-link;
    outline: 0;
  }
}
abbr {

}
abbr[title] {
  border-bottom: 1px dotted;
}
address {

}
article {

}
aside {

}
audio {

}

// B
//--------------------------------
b {
  font-weight: bold;
}
blockquote {
  @include remSize(18px);
  color: $c-gray700;
  margin: 0;
  position: relative;
}
@include media-min($screenMedium) {
  blockquote {
    padding: $spacing $spacing $spacing-looser $spacing-loosest;
  }
}
body{
  font-size: .625em; // 10px equivalent
}
@include media-min($screenMedium) {
  body{
    font-size: 1em;
  }
}
button{
  @include btn();
  overflow: visible;

  &.clear {
    background: transparent;
    border: 0;

    &:hover,
    &:focus {
      transform: scale(1,1);
    }
  }
  &::-moz-focus-inner{
    border: 0;
    padding: 0;
  }

  &[type="submit"] {
    display: block;
    margin: $spacing auto;
  }
}

// C
//--------------------------------
canvas {

}
caption {

}
center {

}
cite {

}
code {

}

// D
//--------------------------------
del{

}
details {

}
dfn {
  font-style: $color-highlight;
}
div {

}
dl {

}
dt {

}
dd {

}

// E
//--------------------------------
em {

}

// F
//--------------------------------
fieldset {
  border: 1px solid $gray-light;
  margin: 0 $spacing-tightest;
  padding: $spacing-tight;
}
figcaption {

}
figure {

}
footer {

}
form{
  margin: $spacing auto;
  padding: $spacing;
}

// H
//--------------------------------
h1,
h2,
h3,
h4,
h5,
h6{
  line-height: $line-height*.7;
  margin-top: 0;
  margin-bottom: $spacing-loose;
}
h1 {
  @include remSize($fsTitle);
  font-weight: 400;
  margin-bottom: 0;
}

h2 {
  @include remSize($fsSubtitle);
  font-weight: 300;
  text-align: center;

  small{
    clear: both;
    display: block;
    font-size: .4em;
  }
}

h3 {
  @include remSize($fsTitle);
  font-weight: 200;
}

h4 {
  @include remSize($fsBody);
  font-weight: 500;
}

h5 {
  margin-bottom: $spacing-tight;
}

h6 {

}
@include media-min($screenMedium) {
  h1 {
    @include remSize($fsDisplay2);
  }
  h2 {
    @include remSize($fsHeadline)
  }

  h4 {
    @include remSize($fsBody);
    font-weight: 500;
  }
}
header {

}
hr {
  box-sizing: content-box;
  height: 0;
}
html {

}

// I
//--------------------------------
i {

}
img {
  @include animate(fast);
  border: 0;
  height: auto;
  max-width: 100%;
}
ins {

}
input {
  background: $white;
  border: 1px solid $c-gray800;
  color: $gray;
  line-height: normal;
  margin-bottom: $spacing-tight;
  padding: $spacing-tight;
  width: 100%;

  // INPUT STATES
  &:required{
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
  }
  &::-moz-focus-inner{
    border: 0;
    padding: 0;
  }

  // INPUT TYPES
  &[type="checkbox"],
  &[type="radio"] {
    box-sizing: border-box;
    margin-right: $spacing;
  }
  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  &[type="text"],
  &[type="name"],
  &[type="email"],
  &[type="password"] {
    max-width: 90%;

    &:hover {
      border-color: $c-gray600;
    }
    &:focus {
      border-color: $color-link;
    }
  }
  &[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration{
      -webkit-appearance: none;
    }
  }
  &[type="submit"] {

    &:active{
      position:relative;
      top:1px;
    }
  }
  &[type="hidden"]{
    display: none;
  }
  &[type="checkbox"] {
    display:none;
  }
  &[type="checkbox"] + label span {
    display:inline-block;
    width:28px;
    height:26px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(/imgs/input_checkboxes.png) left top no-repeat;
    cursor:pointer;
  }
  &[type="checkbox"]:checked + label span {
    background:url(/imgs/input_checkboxes.png) left bottom no-repeat;
    //background: red;
  }


}
label.checkbox {

  input[type="checkbox"] + span {
    display:inline-block;
    width:28px;
    height:26px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(/imgs/input_checkboxes.png) left top no-repeat;
    cursor:pointer;
  }
  input[type="checkbox"]:checked + span {
    background:url(/imgs/input_checkboxes.png) left bottom no-repeat;
    //background: red;
  }
}


// K
//--------------------------------
kbd {

}

// L
//--------------------------------
label,
.label {
  @include remSize($fsCaption);
  color: $c-gray600;
  display: block;
  line-height: 1.5em;
  margin: $spacing-tight 0 $spacing-tighter;
  text-transform: uppercase;

  &.checkbox {
    padding-left: $spacing-loose;
    position: relative;

    span {
      left: 0;
      position: absolute;
    }
  }
}
legend {
  border: 0;
  padding: 0;
}
li {

}

// M
//--------------------------------
mark {

}
main,
.main {
  @include remSize($fsBody);
  margin: 0 auto;
  overflow: hidden;
}
menu {

}

// N
//--------------------------------
nav {

}

// O
//--------------------------------
ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}
option{

}
optgroup {
  font-weight: bold;
}

// P
//--------------------------------
p {

}
pre {
  overflow: auto;
}

// Q
//--------------------------------
q {

}

// S
//--------------------------------
samp {

}
section {

}
::selection {
  background: $c-orange-50;
  text-shadow: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #303030;
  border: 2px solid #505050;
  color: $c-white;
  padding: $spacing-tighter;
  width: 100%;
}
small {
  font-size: .8em;
}
span {

}
strong {
  font-weight: 400;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
summary {
  &::-webkit-details-marker {
    display: none;
  }

}
svg:not(:root) {
  overflow: hidden;
}

// T
//--------------------------------
table {
  border-collapse: collapse;
  border-spacing: 0;
}
tbody {

}
td {
  padding: 0;
}
textarea {
  background: #303030;
  border: 2px solid #505050;
  color: $c-white;
  padding: $spacing-tighter;
  width: 97%;
  overflow: auto;
}
tfoot {

}
thead {

}
th {
  padding: 0;
}
time {

}
tr {

}
tt {

}

// U
//--------------------------------
ul {
  padding-left: $spacing-tight;
}

// V
//--------------------------------
var {

}
video {
}
