<!-- Capture and store URL -->
{% capture location %}{{ page.url | split:'/' }}{% endcapture %}
<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <!-- To add pages to the main nav, add nav: main to the YAML Front Matter -->
      <a href="#" class="menu">Menu</a>
      <ul>
        {% for page in site.pages %}
          {% if page.nav == "main" %}
          {% assign current = page.title | downcase %}
            {% if page.title %}

                <li {% if location == current %} class="current" {% endif %}>
                  <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
    </nav>

  </div>

</header>