<!-- Capture and store URL -->
{% capture location %}{{ page.url | split:'/' }}{% endcapture %}

{% if page.id == "home" %}
  <div class="hero fill-screen"></div>
{% endif %}

<header id="header" class="site-header {% if page.id == "home" %}fill-screen{% endif%}">

  <div id="banner" class="banner">

    <a id="site-logo" class="logo" href="{{ site.baseurl }}/">
      <img class="logo-white" src="/imgs/brand/travelperk-logo-white.svg" alt="{{ site.title }}">
      <img class="logo-color" src="/imgs/brand/travelperk-logo.svg" alt="{{ site.title }}">
    </a>

    {% include core/nav-main.html %}

  </div>

  <div class="wrapper">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}

    {% if page.id == "home" %}
      <div class="hero-buttons">
        <div class="flex">
          <button id="btn-request" class="hero-demo-request" data-ga-category="Hero buttons">Request a demo</button>
          <span>or</span>
          <button id="btn-sign-up-hero" class="btn hero-signup" data-ga-category="Hero buttons">Start trial</button>
        </div>
      </div>
    {% endif %}

  </div>

  {% if page.id == "home" %}
  <div class="more">
    <button id="more" class="find-out-more" data-ga-category="Hero buttons">Find out more<span class="icon-expand_more"></span></button>
  </div>
  {% endif %}

</header>
