<!-- Capture and store URL -->
{% capture location %}{{ page.url | split:'/' }}{% endcapture %}
<header id="header" class="site-header fill-screen">

  <div id="banner" class="banner">

    <a class="logo" href="{{ site.baseurl }}/">
      <img src="/imgs/brand/travelperk-logo-white.svg" alt="{{ site.title }}">
    </a>

    <nav class="site-nav">
      <!-- To add pages to the main nav, add nav: main to the YAML Front Matter -->
      <!--<a href="#" class="menu">Menu</a>-->
      {% include core/nav-main.html %}
    </nav>
  </div>

  <div class="wrapper">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
  </div>

  <button id="signup" class="btn signup">Sign up</button>
  {% if page.id == "home" %}
    <button id="more">Find out more...</button>
  {% endif %}

</header>
