<!-- Capture and store URL -->
{% capture location %}{{ page.url | split:'/' }}{% endcapture %}
<header id="header" class="site-header {% if page.id == "home" %}fill-screen{% endif%}">

  <div id="banner" class="banner">

    <a id="site-logo" class="logo" href="{{ site.baseurl }}/">
      <img src="/imgs/brand/travelperk-logo-white.svg" alt="{{ site.title }}">
    </a>

    <nav class="site-nav">
      <!-- To add pages to the main nav, add nav: main to the YAML Front Matter -->
      <!--<a href="#" class="menu">Menu</a>-->
      {% include core/nav-main.html %}
    </nav>
  </div>

  <div class="wrapper">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}

    {% if page.id == "home" %}
    <p class="intro">With DynamicBudgets&trade; and the ability to <strong>save over 30%</strong> on your travel booking, you will wonder how you managed this long without a tool like TravelPerk.</p>

    <div class="more">
      <button id="more">Find out more...</button>
      <span>or</span>

      <button id="btn-request" class="btn signup">Request a demo</button>
    </div>

    {% endif %}

  </div>

</header>
