$cDark: #272e3a;
$cWhite: #ffffff;
$cGreen: #0cd2a6;
$cGreen400: #e9faf6;
$cGray800: #626871;
$cBlue: #1396e4;
$cGray900: #454b56;
$cGray700: #80858d;
$cGray600: #9ea2a8;
$cGray500: #bcbfc4;
$cGray400: #d9dcdf;
$cOrange: rgba(255, 185, 114, 0.5);
$cRed: rgba(252, 98, 98, 0.5);
$cPale: #f7f9fb;
$cYellow: #ffc400;