/* Footer */

.site-footer {
  background: $c-dark;
  padding: $spacing-loosest 0 $spacing;

  .clearfix {
    text-align: center;
  }
  .logo {
    margin-left: 0;
  }
  .description {
    border-bottom: 1px solid $c-gray900;
    margin-bottom: $spacing;
    padding: $spacing 0;
  }

  * {
    color: $white !important;
  }
}

@include media-min($screenMedium) {
  .site-footer {
    .logo {
      float: left;
    }
    .description {
      margin-bottom: $spacing-looser;
      padding: $spacing-tight $spacing $spacing-loosest;
    }
  }
  .social {
    position: absolute;
    right: $spacing;
    bottom: 0;
  }
}
