// Animations

@include keyframes(fade-in) {
  0% {
    opacity: 0;
    top: 1em;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.site-header {
  background-image: linear-gradient(0deg, #2BC7F3 0%, #1396E4 100%);
  border-bottom: 6px solid $color-brand;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  h1,
  h2 {
    color: $white;
    text-align: center;
    position: relative;
  }
  h1{
    @include animation('fade-in 1s');
  }
  h2{
    @include animation('fade-in 2s');
  }

  button {
    @include btn(transparent, true, true);
  }
}
.banner {
  padding: $spacing;
}
.site-nav{
  background: $white;
  border: 1px solid $gray-lighter;
  border-radius: $radius;
  position: absolute;
  top: 0;
  right: $spacing;
  text-align: right;

  a{
    display: block;
    padding: $spacing-tight;
  }

  ul{
    display: none;
    margin: 0;
    padding: 0;
  }
  &:hover{
    @include box-shadow();
    z-index: 10;

    .menu{
      color: $gray-lighter;
      cursor: default;
    }

    ul{
      display: block;
    }
  }
}


@include media-min($screenMedium){
  .site-nav {

    .menu{ // Don't need menu button on larger devices
      display: none;
    }
    ul{
      display: block;
      li{
        display: inline-block;
      }
    }
  }
}
