// Animations

@include keyframes(fade-in) {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(fade-in-from-bottom) {
  0% {
    opacity: 0;
    top: 3em;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@include keyframes(fade-in-from-bottom-delayed) {
  0% {
    opacity: 0;
    top: 2em;
  }
  50% {
    opacity: 0;
    top: 2em;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.site-header {
  background-image: linear-gradient(0deg, #2BC7F3 0%, #1396E4 100%);
  border-bottom: 6px solid $color-brand;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height:200px;
  padding-top:$spacing-loosest;

  h1,
  h2 {
    color: $white;
    text-align: center;
    position: relative;
  }
  h1{
    @include animation('fade-in-from-bottom 1.5s');
  }
  h2{
    @include animation('fade-in-from-bottom-delayed 2s');
    color: darken($cBlue, 10%);
  }

  .more {
    @include animation('fade-in 2s');
    margin-bottom: $spacing-loose;
    position: relative;

    &.signup {
      @include btn(transparent, true, true);
    }
  }
}
.banner {
  position: fixed;
  top: 0;
  width: 100%;
}
.fixed {
  .banner {
    background: transparentize($cBlue, .1);
  }
}

.logo {
  display: inline-block;
  margin: $spacing-tight $spacing;
}

.site-nav{
  line-height: 48px;
  position: absolute;
  top: 0;
  right: $spacing;
  text-align: right;

  a{
    color: $white;
    display: block;
    line-height: 1em;
    margin-top: $spacing-tight;
    padding: $spacing-tight;

    &.sign-up {
      border: 1px solid $white;
    }
  }

  ul{
    display: none;
    margin: 0;
    padding: 0;
  }
  &:hover{
    z-index: 10;

    .menu{
      color: $gray-lighter;
      cursor: default;
    }

    ul{
      display: block;
    }
  }
}


@include media-min($screenMedium){
  .site-nav {

    .menu{ // Don't need menu button on larger devices
      display: none;
    }
    ul{
      display: block;
      li{
        display: inline-block;
      }
    }
  }
}
