
.site-header {
  background-image: url("/imgs/pattern.png");
  //border-bottom: 4px solid $c-gray400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height:200px;
  padding-top:$spacing-loosest;

  h1,
  h2 {
    text-align: center;
    position: relative;
  }
  h1{
    @include animation('fade-in-from-bottom 1.5s');
  }
  h2{
    @include animation('fade-in-from-bottom-delayed 2s');
    color: darken($c-blue, 10%);
    margin-bottom: 0;
  }
}
.logo-white {
  display: none;
}
.home {
  .logo-white {
    display: block;
  }
  .logo-color {
    display: none;
  }
  .banner {
    a {
      color: $white;
    }
  }
}
.banner {
  position: absolute;
  top: 0;
  width: 100%;
}
.fixed-header {
  .logo-color {
    display: block;
  }
  .logo-white {
    display: none;
  }
  .banner {
    @include animation('slide-down-from-top .5s');
    background: $white;
    background: transparentize($white, .1);
    border: 1px solid $c-gray400;

    a,
    button {
      color: $color-link !important;
    }
    button {
      border-color: $c-blue;
    }
  }
  .logo {
    margin: 14px $spacing-tight 8px;
  }
  img {
    @include animate(fast);
    height: auto;
    max-width:80%;
  }
  .site-nav {

    a {
      line-height: .5em;
      margin-top: 12px;
    }
    button {
      padding: $spacing-tighter;
    }
  }
}

.logo {
  display: inline-block;
  margin: $spacing-tight $spacing;
}

.btn-menu {
  @include remSize($fsTitle);
}

.site-nav{
  position: absolute;
  top: 0;
  right: $spacing;
  text-align: right;

  a{
    display: block;
    line-height: 1em;
    margin-top: $spacing-tight;
    padding: $spacing-tight;

    &.sign-up {
      border: 1px solid $color-link;
    }
  }

  button {
    @include border-radius(0);
    background: transparent;
    border: 0;
    border-left: 1px solid $white;
    color: $color-link;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
  }

  ul{
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &:hover{
    z-index: 10;

    .btn-menu{
      color: $c-gray700;
      cursor: default;
    }

    ul{
      display: block;
    }
  }
}
.current a{ // current nav items
  color: $c-blue700 !important;
}

@include media-max( 340px ) {
}
@include media-max( $screenSmall ) {
  .logo {
    width: 160px;
  }
  .fixed-header .site-nav {
    top: $spacing-tighter;

    a {
      margin-top: 0;
    }
  }
  .site-nav {
    border: 1px solid $white;
    right: 0;
    top: $spacing-tighter;

    &:hover {
      @include box-shadow();
      background: transparentize( $white, .1 );

      a{
        color: $color-link;
        font-size: $fsBody;
      }
    }

    button {
      font-size: $fsSubtitle !important;
      line-height: inherit;
      padding: $spacing-tight;
    }
    .btn-menu {
      border: none;
      color: $white;
      font-size: $fsTitle;
      font-weight: 300;
      margin:0 !important;
      padding: $spacing-tighter;
      text-align: right;
      width: 100%;
    }
    ul {
      width: 100%;
    }

    li {
      text-align: center;
    }
    a,
    button {
      color: $color-link;
      font-size: $fsTitle;
      margin: 0;
      padding: $spacing-tight;
    }
    .btn-sign-up {
      border-left: 0;
      border-top: 1px solid $white;
      font-size: $fsTitle;
      margin-bottom: 0 !important;
      padding: $spacing-tight !important;
      width: 100%;
    }
  }
}
@include media-min($screenMedium){
  .site-nav {

    .btn-menu{ // Don't need menu button on larger devices
      display: none !important;
    }
    ul{
      display: block;
      li{
        display: inline-block;
      }
    }
  }
}
