// Animations

@include keyframes(fade-in) {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(fade-in-from-bottom) {
  0% {
    opacity: 0;
    top: 3em;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@include keyframes(fade-in-from-bottom-delayed) {
  0% {
    opacity: 0;
    top: 2em;
  }
  50% {
    opacity: 0;
    top: 2em;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@include keyframes(slide-down-from-top) {
  0% {
    top: -68px;
  }
  100% {
    top: 0;
  }
}

.site-header {
  background-image: url("/imgs/pattern.png");
  border-bottom: 6px solid $cDark;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height:200px;
  padding-top:$spacing-loosest;

  h1,
  h2 {
    text-align: center;
    position: relative;
  }
  h1{
    @include animation('fade-in-from-bottom 1.5s');
  }
  h2{
    @include animation('fade-in-from-bottom-delayed 2s');
    color: darken($cBlue, 10%);
  }

  .more {
    @include animation('fade-in 2s');
    margin-bottom: $spacing-loose;
    position: relative;

    &.signup {
      @include btn(transparent, true, true);
    }
  }
}
.logo-white {
  display: none;
}
.home {
  .logo-white {
    display: block;
  }
  .logo-color {
    display: none;
  }
  .banner {
    a {
      color: $white;
    }
  }
}
.banner {
  position: absolute;
  top: 0;
  width: 100%;
}
.fixed-header {
  .logo-color {
    display: block;
  }
  .logo-white {
    display: none;
  }
  .banner {
    @include animation('slide-down-from-top .5s');
    background: $white;
    background: transparentize($white, .1);
    border: 1px solid $cDark;

    a,
    button {
      color: $color-link;
    }
    button {
      border-color: $cBlue;
    }
  }
  .logo {
    margin: 14px $spacing-tight 8px;
  }
  img {
    @include animate(fast);
    height: auto;
    max-width:80%;
  }
  .site-nav {

    a {
      line-height: .5em;
      margin-top: 12px;
    }
    button {
      padding: $spacing-tighter;
    }
  }
}

.logo {
  display: inline-block;
  margin: $spacing-tight $spacing;
}

.site-nav{
  line-height: 48px;
  position: absolute;
  top: 0;
  right: $spacing;
  text-align: right;

  a{
    //color: $white;
    display: block;
    line-height: 1em;
    margin-top: $spacing-tight;
    padding: $spacing-tight;

    &.sign-up {
      border: 1px solid $color-link;
    }
  }

  button {
    @include border-radius(0);
    background: transparent;
    border: 0;
    border-left: 1px solid $white;
    font-size: 1em;
    margin: 0;
  }

  ul{
    display: none;
    margin: 0;
    padding: 0;
  }
  &:hover{
    z-index: 10;

    .menu{
      color: $gray-lighter;
      cursor: default;
    }

    ul{
      display: block;
    }
  }
}
.current a{ // current nav items
  color: $cBlue;
}

@include media-min($screenMedium){
  .site-nav {

    .menu{ // Don't need menu button on larger devices
      display: none;
    }
    ul{
      display: block;
      li{
        display: inline-block;
      }
    }
  }
}
