/* MIXINS.SCSS */

// A


// B
@mixin box-shadow($top: 1px, $left: 0, $blur: 3px, $color: $c-gray-lighter, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin btn($btn_bg: $color-link, $outline: true, $ghost: false){
  background: $btn_bg;
  border-radius: $radius;
  display: block;
  margin: 0 auto;
  min-width: 200px;
  width: 200px;
  padding: $spacing;

  @if $outline{
    border: 1px solid $c-white;
  }

  @if $ghost{
    background: $c-white;
    background: transparentize($c-white, .8);
  }

  &:hover{
    cursor: pointer;
  }
}

// C
@mixin clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// M
@mixin media-min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
@mixin media-max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}


// R
@mixin remSize($px) {
  font-size: $px;
  font-size: calculateRem($size);
}