/* MIXINS.SCSS */


// ANIMATIONS
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

// A

@mixin animate ($speed: normal){
  @if ( $speed == normal ) {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
  } @else if( $speed == fast ) {
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
  } @else if( $speed == slow ) {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
}

@mixin animate-custom ($property: all, $time: .3s, $curve:ease-out){
  -webkit-transition: $property $time $curve;
  -moz-transition: $property $time $curve;
  -ms-transition: $property $time $curve;
  -o-transition: $property $time $curve;
  transition: $property $time $curve;
}

// B

@mixin border-radius-custom($position, $radius: $default_radius) {
  border-#{$position}-radius: $radius;
  -webkit-border-#{$position}-radius: $radius;
}
@mixin border-radius($radius: $default_radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin box-shadow($top: 0px, $left: 0px, $blur:.5em, $spread: .2em, $color: $c-gray300, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

@mixin btn($btn_bg: $color-link, $btn_border: $color-link, $outline: true, $ghost: false){
  background: $btn_bg;
  border: 1px solid $btn_border;
  border-radius: $radius;
  color: $white;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1em;
  margin: $spacing auto;
  padding: $spacing-tight;

  @if $outline{
    border: 1px solid $btn_bg;
  }

  @if $ghost{
    background: $white;
    background: transparentize($white, .8);
  }

  &:hover,
  &:focus {
    background: $color-hover;
    border-color: $color-hover;
    color: $white;
    cursor: pointer;
    transform:scale(.98,.98);
  }
}

// C
@mixin clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin cBackground($color1: $white, $color2: $c-gray300, $deg: 45deg) {
  background-image: linear-gradient($deg, $color1 0%, $color2 100%);
}

// D

@mixin debug($color : red){
  background: yellow !important;
  border: 1px solid $color;
}

// F
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin remSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// MEDIA QUERIES
@mixin media-min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
@mixin media-max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}
