
// TODO : Just for DEV. Remove for PROD
.block {
  border: 1px dashed $gray;
  padding: $spacing-loosest $spacing $spacing !important;
  position: relative;

  header{
    background: $gray-lightest;
    color: $gray-light;
    font-style: italic;
    padding: 4px 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.browserupgrade {
  margin: $spacing 0;
  background: $color-state-warning;
  color: $gray-dark;
  padding: $spacing;
}
.btn{
  @include btn(transparent, null, false, false);
}

// C
.card{
  @include box-shadow();
  background: $white;
  padding: $spacing;
}
.center {
  display: block;
  margin: auto;
  text-align: center;
}
.clearfix {
  @include clearfix();
}
.collapse{
  margin: 0;
  padding: 0;
  list-style: none;
}

.color{
  @include cBackground();
}

// D
.debug {
  @include debug();
}

// F
.fill-screen{
  height: 100%;
}
.flex{
  @include clearfix();

  &.fixed >* {
    flex: 1 350px;
  }
  &.padded >* {
    padding: $spacing 0;
  }
  &.space-around {
    justify-content: space-around;
  }
}

@include media-min($screenMedium) {
  .flex {

    & > * {
      box-sizing: border-box;
      float: left;
    }

    &.reverse > * {
      float: right;
    }
    &.two {

      & > * {
        width: 50%;
      }
    }
    &.three {

      & > * {
        width: 33.333%;
      }
    }
  }
}

// G

@mixin gradient-linear ($from: #11AECB, $to: #1782C3, $direction: top) {
  background: $from;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background: -webkit-linear-gradient($direction, $from, $to);
  background: -moz-linear-gradient($direction, $from, $to);
  background: -ms-linear-gradient($direction, $from, $to);
  background: -o-linear-gradient($direction, $from, $to);
}

// H

.hide {
  display: none;
}

// I

.icon-close {
  @include remSize(36px);
  background: transparent;
  border: transparent;
  margin: 0;
  text-align: right;
  padding-right: $spacing;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

// L
.large{
  @include remSize($fsSubtitle);
}
.larger{
  @include remSize($fsHeadline);
}
.largest{
  @include remSize($fsDisplay1);
}
.light-text{
  color: $white;
}

// N
.no-scroll {
  overflow: hidden;
}

// S
.serif{
  font-family: serif;
}
.show {
  display: block !important;
}
.small{
  @include remSize(12px);
}
.smaller{
  @include remSize(11px);
}
.smallest{
  @include remSize(10px);
}
.simple li{
  list-style: none;
}

[data-state="slide-one"] {
  margin-left: 0;
}
[data-state="slide-two"] {
  margin-left: -100%;
}
[data-state="slide-three"] {
  margin-left: -200%;
}

// V
.vertical-middle {
  align-items: center;
}

// W
.wrapper{
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $spacing;
  position: relative;
}

@include media-min($screenMedium){

  // F
  .flex {

    &.padded >* {
      padding: 0 $spacing;
    }
    &.reverse {
      flex-direction: row-reverse;
    }
  }

  // H
  .hbox{
    display: table;
    width: 100%;

    & > *{
      display: table-cell;
    }
  }
}
