
// B
.browserupgrade {
  margin: $spacing 0;
  background: $color-state-warning;
  color: $gray-dark;
  padding: $spacing;
}

// C

//L
.current a{ // current nav items
  color: $color-visited;
}
.large{
  font-size: $font-large;
}
.larger{
  font-size: $font-larger;
}
.largest{
  font-size: $font-largest;
}



//S
.small{
  font-size: $font-small;
}
.smaller{
  font-size: $font-smaller;
}
.smallest{
  font-size: $font-smallest;
}


// W
.wrapper{
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $spacing;
  position: relative;
}