
.block {
  border: 1px dashed $gray;
  padding: 2.5em 2em 2em;
  position: relative;

  header{
    background: $gray-lightest;
    color: $gray-light;
    font-style: italic;
    padding: 4px 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.browserupgrade {
  margin: $spacing 0;
  background: $color-state-warning;
  color: $gray-dark;
  padding: $spacing;
}
.btn{
  @include btn(transparent, false, false);
}

// C


// D

@mixin debug($color : red){
  background: yellow !important;
  border: 1px solid $color;
}

// F
.flex{
  display: flex;
  justify-content:space-between;
}

// G

@mixin gradient-linear ($from: $white, $to: $black, $direction: top) {
  background: $from;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background: -webkit-linear-gradient($direction, $from, $to);
  background: -moz-linear-gradient($direction, $from, $to);
  background: -ms-linear-gradient($direction, $from, $to);
  background: -o-linear-gradient($direction, $from, $to);
}

// L
.current a{ // current nav items
  color: $color-visited;
}
.large{
  @include remSize($fsSubtitle);
}
.larger{
  @include remSize($fsHeadline);
}
.largest{
  @include remSize($fsDisplay1);
}



// S
.serif{
  font-family: serif;
}
.small{
  @include remSize(12px);
}
.smaller{
  @include remSize(11px);
}
.smallest{
  @include remSize(10px);
}
.simple li{
  list-style: none;
}


// W
.wrapper{
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $spacing;
  position: relative;
}

@include media-min($screenMedium){

  // H
  .hbox{
    display: table;
    width: 100%;

    & > *{
      display: table-cell;
    }
  }
}
