/*
SIZES AND MEDIA QUERIES
*/

$golden-rule:                 1.61803399;

$default_radius:              4px;
$radius:                      $default_radius;

$screenSmall:                 480px;
$screenMedium:                768px;
$screenLarge:                 1024px;
$screenLarger:                1280px;

/*
COLORS
*/

// Some base colors to get us started

$black:                 #000;
$white:                 #fff;

$gray-lightest:         lighten($black, 96%);
$gray-lighter:          lighten($black, 82%);
$gray-light:            lighten($black, 66%);
$gray:                  lighten($black, 50%);
$gray-dark:             lighten($black, 34%);
$gray-darker:           lighten($black, 20%);
$gray-darkest:          lighten($black, 2%);

$color-brand: $c-blue;

// Colors with purpose
$color-link:            $color-brand;
$color-visited:         invert($color-link);
$color-hover:           lighten($color-link, 5%);
$color-active:          darken($color-link, 5%);

$color-state-warning:   #F5F4D7;
$color-state-error:     #faa;
$color-state-success:   #faa;

$color-highlight: #f4ff6f;

/*
FONTS & TYPOGRAPHY
*/

$fsDisplay4:            112px;
$fsDisplay3:            56px;
$fsDisplay2:            45px;
$fsDisplay1:            34px;
$fsHeadline:            36px;
$fsTitle:               20px;
$fsSubtitle:            18px;
$fsBody:                16px;
$fsCaption:             14px;
$fsSmall:               12px;

/*
SPACING
*/
$spacing:               24px;
$spacing-tight:         16px;
$spacing-tighter:       8px;
$spacing-tightest:      4px;
$spacing-loose:         32px;
$spacing-looser:        48px;
$spacing-loosest:       64px;

$line-height:           2.2em;

// 1260px as ems
$max-width:             78.75em;
