/* About.scss */

.team {

  a {
    box-sizing: border-box;
    display: block;
    padding:$spacing-loose 0;

    &:hover {
      background: $c-pale;
    }
  }
}
.team-member {
  color: $c-dark;
  text-align: center;

  h3,
  h4 {
    margin: 0;
  }

  h4 {
    color: $c-gray600;
    font-weight: 300;
  }
}
.exec {
  a {
    background: $c-blue300;
  }
}

@include media-min($screenMedium) {
  .team {

    a {
      border: 1px solid $c-gray300;
      min-height:420px;
      float: left;
      width: 50%;
      &:nth-child(1n) {
        border-top: 0;
        border-left: 0;
      }

      &:nth-child(2n) {
        border-top: 0;
        border-left: 0;
      }
    }
  }
}
