.post {
  max-width: 50em;
}
.post-meta {
  color: $c-gray500;
}
.author-block {
  @include clearfix();
  border-top: 1px solid $c-gray500;
  padding: $spacing 0;

  h4,
  p {
    margin-bottom:$spacing-tightest;
  }
  img {
    float: left;
    max-width:120px;
    margin-right: $spacing;
  }
}
