.faqs {
  h3 {
    margin: 2.4em 0 .2em;
    position: relative;
    z-index:1;

    &:before {
      background: $c-gray300;
      border-radius: 6em;
      content: "\00a0";
      height: 6em;
      opacity: .3;
      position: absolute;
      top: -2.5em;
      left: -2.5em;
      width: 6em;
      z-index: 0;
    }
  }
}
