// ANIMATIONS
@include keyframes(reveal-left) {
  0% {
    -webkit-clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
}

.home {
   section {
     padding: $spacing-loosest 0;
   }
}
// GRAPH
.budget {
  background: $cGray900;
  position: relative;

  ul {
    padding-right: $spacing-loose;
  }
}
.budget-graph {
  height: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.clip-css {
  @include animation('reveal-left 2s');
}
.graph{
  @include animation('gradient-fill 2s');
  height: auto;
  position: absolute;
  width: 100%;
}

// Customer types

.customer-types{
  .flex{
    min-height: 400px;
    align-items: center;
  }
  span{
    margin-bottom: auto;
  }
  img{
    margin: $spacing-loosest auto $spacing-loose;
    max-width: 200px;
  }
}

@include media-min($screenMedium) {
  .customer-types {
    .flex {
      align-content: space-around;
      flex: 1 600px;
      min-height: 600px;
    }
    img {
      margin: auto;
    }
    span {
      margin: auto auto auto $spacing-loose;
      max-width: 700px;
    }
  }
}

@include media-min($screenLarge){
  .home {

    h1 {
      @include remSize(64px);
      margin-top: $spacing-loosest;
    }

    header button{
      margin: $spacing-loosest auto;
    }
  }
}

