// ANIMATIONS
@include keyframes(reveal-left) {
  0% {
    -webkit-clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
}

.home {
   section {
     padding: $spacing-loosest 0;
   }
}
// GRAPH
.budget {
  background: $cGray900;
  position: relative;

  h2,
  ul {
    color: $white;
  }

  ul {
    padding-right: $spacing-loose;
  }
}
.budget-graph {
  height: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.clip-css {
  @include animation('reveal-left 2s');
}

@include media-min($screenLarge){
  .home h1{
    @include remSize(64px);
  }
}

.graph{
  @include animation('gradient-fill 2s');
  height: auto;
  position: absolute;
  width: 100%;
}
