.home {

  .site-header {
    background-image: url("/imgs/background.jpg");
    background-position: center center;
    background-size: cover;
  }
  .wrapper.fill-screen {
    padding: $spacing-loosest 0;
  }
  .more {
    text-align: center;

    span{
      color: $white;
      margin: $spacing;
    }
  }
}


// DYNAMIC BUDGET
.dynamic-budget {
  width: 100%;
}


// CUSTOMER TYPES

.customer-types{
  overflow-x: hidden;

  nav {
    button {
      @include remSize(64px);
      background: transparent;
      border: 0;
      color: $cDark;

      &.active {
        color: $cBlue;
      }
    }
  }
  .flex{
    align-items: center;
    justify-content: space-around;
  }
  img{
    margin: $spacing-loosest auto $spacing-loose;
    max-width: 200px;
  }

  .slides-wrapper {
    @include clearfix();
    background: #eeeeee;
    width: 300%;
  }
  .slide {
    display: inline-block;
    float: left;
    width: 33.3%;
  }
  .feature {
    flex: 1 400px;
    min-height: 600px;

    img{
      height: 480px;
      max-width:100%;
    }
  }
}


// BREAK POINTS

@include media-min($screenMedium) {
  .customer-types {
    .flex {
      //align-content: space-around;
      //min-height: 600px;
      span{
        flex: 1;
      }
      .content {
        padding: $spacing-tight;
      }
    }
    img {
      margin: auto;
    }
    span {
      //margin: auto auto auto $spacing-loose;
      //max-width: 700px;
    }
  }
}

@include media-min($screenLarge){
  .home {

    h1 {
      @include remSize(64px);
      margin-top: $spacing-loosest*2.8;
    }

    header button{
      margin: $spacing-loosest auto;
    }
  }
}

