.home {

  h1{
    margin-top: $spacing-loose;
  }

  .site-header {
    //background-image: url("/imgs/hero-background.jpg");
    //background-position: center center;
    //background-size: cover;
  }
  .wrapper.fill-screen {
    padding: $spacing-loosest 0;
  }
  .more {
    text-align: center;

      span{
        //color: $white;
        display: block;
        margin: -16px;
      }
    }

  .intro {
    @include remSize(16px);
    line-height: 1.6em;
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
  }
}

.btn.demo-request {
  color: $cDark;
}

// DYNAMIC BUDGET
.budget-img-wrapper {
  background: $cDark;
  padding: $spacing-loosest $spacing;
}
.dynamic-budget {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}


// CUSTOMER TYPES

.customer-type-nav {

  ul {
    flex-wrap: nowrap;
    padding: $spacing-tight;
  }

  button {
    margin: 0;
    padding: $spacing-tight;
  }
}
.customer-types{
  background: #eeeeee;
  overflow-x: hidden;

  nav {
    text-align: center;

    button {
      background: transparent;
      border: 0;
      color: $color-link;

      span{
        @include remSize(48px);
        color: $cDark;
        display: block;
        margin-top:$spacing;
      }

      &.active {

        span{
          color: $cBlue;
        }
      }
    }

    h3 {
      margin-bottom: 0;
    }
  }
  .flex{
    align-items: center;
    justify-content: space-around;
  }
  img{
    margin: $spacing-loosest*2 0 0;
    max-width: 200px;
  }

  .slides-wrapper {
    @include clearfix();
    width: 300%;
  }
  .slide {
    display: inline-block;
    float: left;
    width: 33.3%;
  }
  .feature {
    margin: $spacing-loosest 0 $spacing;

    img{
      max-width:100%;
    }
  }
}

.product-shot {
  @include box-shadow();
}

// PUBLICITY
.publicity {
  text-align: center;
}


// BREAK POINTS

@include media-min($screenMedium) {

  .home {

    h1 {
      @include remSize(64px);
      margin-top: $spacing-loosest*2;
    }

    header button{
      margin: $spacing-loosest auto;
    }
  }

  .customer-types {
    .flex {

      .content {
        padding: $spacing-loosest;
      }
      span{
        //width: 200px;
      }
    }
    img {
      margin: auto;
    }
  }
}

@include media-min($screenLarge){

  .intro {
    @include remSize(22px);
  }
  .home {

    .more {

      span {
        display: inline;
        margin: $spacing;
      }
    }
  }
}

