.home {

  .hero {
    background-image: url("/imgs/hero-background.jpg");
    background-position: center center;
    background-size: cover;
    position: fixed;
    width: 100%;
    z-index: -1;
  }

  h1{
    @include remSize($fsSubtitle);
    color: $white;
    margin-top: $spacing-loose;
  }
  h1,
  h2 {
    font-weight: 100;
  }

  .site-header {
    background: transparent;
    //background-image: url("/imgs/hero-background.jpg");
    //background-position: center center;
    //background-size: cover;

    h2 {
      color: $white;
      color: transparentize($white, .2);
      margin-bottom: 0;
    }
  }
  .wrapper.fill-screen {
    padding: $spacing-loosest 0;
  }
  .more {
    text-align: center;
  }
  .find-out-more {
    background: transparent;
    border: none;
    display: block;

    span {
      display: block;
    }

    &:hover {
      span {
        @include animate();
        margin-top: $spacing-tighter;
      }
    }
  }
}

.intro {
  @include remSize(16px);
  line-height: 1.6em;
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
}

// DYNAMIC BUDGET
.budget-img-wrapper {
  background: #272C39;
  padding: $spacing-loosest $spacing;

  h3{
    color: $white;
    text-align: center;
  }
}
.dynamic-budget {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}


// CUSTOMER TYPES

.customer-type-nav {

  ul {
    flex-wrap: nowrap;
    padding: $spacing-tight;
  }

  button {
    margin: 0;
    padding: $spacing-tight;
  }
}
.customer-types{
  background: #eeeeee;
  overflow-x: hidden;

  nav {
    text-align: center;

    button {
      background: transparent;
      border: 0;
      color: $color-link;

      span{
        @include remSize(48px);
        color: $c-dark;
        display: block;
        margin-top:$spacing;
      }

      &.active {

        span{
          color: $c-blue;
        }
      }
    }

    h3 {
      margin-bottom: 0;
    }
  }
  .flex{
    align-items: center;
    justify-content: space-around;
  }
  .content {
    padding: $spacing-tight;
  }
  img{
    //margin: $spacing-loosest*2 0 0;
    max-width: 200px;
  }

  .slides-wrapper {
    @include clearfix();
    width: 300%;
  }
  .slide {
    display: inline-block;
    float: left;
    width: 33.3%;
  }
  .feature {

    img{
      max-width:100%;
    }
  }
}

.product-shot {
  @include box-shadow();
}

// PUBLICITY
.publicity {
  text-align: center;
}


// BREAK POINTS

@include media-min($screenMedium) {

  .home {

    h1{
      margin-top: $spacing-loosest*3.8;
    }
    h1,
    h2 {
      @include remSize($fsDisplay3);
    }

    .more button{
      margin: $spacing-loosest auto;
    }
  }

  .customer-types {

    img {
      margin: auto;
    }
  }
}

@include media-min($screenLarge){

  .intro {
    @include remSize(32px);
    border-bottom: 1px solid $c-gray400;
    margin-bottom:$spacing-loosest;
    padding: $spacing-loosest 0;
  }
  .customer-types {
    .feature {
      margin: $spacing-loosest 0 $spacing;
    }

    .content {
      padding: $spacing-loosest;
    }
  }
}

