.home {

  .hero {
    background-image: url("/imgs/hero-background-light.jpg");
    background-position: right center;
    background-size: auto;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
  }

  h1{
    @include remSize($fsTitle);
    margin-top: $spacing-loose;
  }
  h1,
  h2 {
    font-weight: 300 !important;
    text-align: center;
  }

  .banner{
    background: transparentize($c-white, .1);

    button {
      color: $color-link;
    }
  }

  .site-header {
    background: transparent;
    position: relative;

    h2 {
      margin-bottom: 0;
    }
    .hero-demo-request {
      display: block;
    }
  }
  .wrapper.fill-screen {
    padding: $spacing-loosest 0;
  }
  .find-out-more {
    background: transparent;
    border: none;
    color: $c-gray600;
    display: block;

    span {
      display: block;
    }

    &:hover {
      span {
        @include animate();
        margin-top: $spacing-tighter;
      }
    }
  }
}
.find-out-more,
.hero-demo-request {
  @include animation('fade-in 2s');
}
.hero-buttons {
  margin-top: $spacing-looser;
  //text-align: center;

  button {
    float: none;
    margin: $spacing auto;
  }
  span {
    display: none;
    padding: $spacing-loose $spacing-tight;
  }
  .flex{
    //margin:auto;
    //max-width: 420px;
  }

}
.more {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.intro {
  @include remSize(16px);
  color: $c-emerald;
  line-height: 1.6em;
  margin: 0 auto;
  max-width: 960px;
  padding: $spacing-loosest 0;
  text-align: center;
}

// CUSTOMER TYPES

  // TEMP HONEY POT

.work-in-progress {
  background: $c-blue400;
  display: none;
  font-size: $fsCaption;
  padding: $spacing-tighter $spacing-tight;

  button {
    margin: 0;
    padding: 0;
  }
}

.customer-types{
  background: #FAFAFA;
  padding-bottom: 0 !important;
  overflow-x: hidden;

  nav {
    text-align: center;

    button {
      background: transparent;
      border: 0;
      color: $color-link;

      span{
        @include remSize(48px);
        color: $c-dark;
        display: block;
        margin-top:$spacing;
      }

      &.active {

        span{
          color: $c-blue;
        }
      }
    }

    h3 {
      margin-bottom: 0;
    }
  }
  .flex{
    align-items: center;
    justify-content: space-around;
  }
  .content {
    padding: $spacing-tight;
    position: relative;
  }
  img{
    max-width: 200px;
  }

  .slides-wrapper {
    @include clearfix();
    width: 300%;
  }
  .slide {
    display: inline-block;
    float: left;
    width: 33.3%;
  }
  .feature {

    &.divider {
      background: url("/imgs/divider-line.png") bottom center no-repeat;
      background-size: 95%;
    }

    img{
      display: block;
      max-width:100%;
    }
    button {
      background: transparent;
      border: 0;
      color: $c-blue800;
      margin-top: 0;
      margin-bottom: $spacing-tighter;
      padding-left:0;
    }
  }
  .laptop {
    background: url("/imgs/divide-with-shadow.png") no-repeat 50% 100%;
    background-size: 95%;
  }

  .expenses {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

    span{
      display: block;
      height: 235px;
      overflow: hidden;
      text-align: center;

      img {
        margin: auto;
      }
    }

    .product-shot {
      max-width: 235px;
    }
  }
}

// DYNAMIC BUDGET
.budget {
  background: #272C39;
  h2,
  h3,
  p {
    color: $white;
    text-align: center;
  }
}
.budget-img-wrapper {
  padding: $spacing-loosest $spacing;
  position: relative;
  height: 438px;
  overflow: hidden;

  img {
    position: absolute;
    left: -50%;
    width: 200%;
    max-width: 200%;
  }
}
.dynamic-budget {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

// PUBLICITY
.publicity {
  text-align: center;

  img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    margin: $spacing-tight;
  }

  &:hover {

    img {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
}


// BREAK POINTS
@include media-max($screenSmall) {


  .budget-img-wrapper {
    padding: 0;
    height: 350px;

    img {
    }
  }

}
@include media-max($screenMedium) {
  .home .site-header {
    //padding-bottom: 100px;
  }
}
@include media-min($screenMedium) {

  .home {

    h1{
      margin-top: $spacing-loosest*3;
    }
    h1,
    h2 {
      @include remSize($fsDisplay2);
      font-weight: 100;
    }
  }

  .hero-buttons {

    button {
      margin: $spacing 0;
    }
    span {
      display: inline-block;
    }
  }
  .customer-types {

    .feature {
      margin: $spacing-loose 0 $spacing-loose;
      padding: $spacing-loose 0;
    }
    img {
      margin: auto;
    }
  }
  .budget-img-wrapper {
    height: auto;
    max-width: $max-width;
    margin: auto;

    img {
      position: relative;
      left: 0;
      width: 100%;
      max-width: 100%;
    }
  }
}

@include media-min($screenLarge){

  .home {

    .hero {
      background-position: center top;
    }

    h1,
    h2 {
      @include remSize(36px);
      margin-left: $spacing-loosest*4;
      //text-align: left;
    }
    .hero-buttons {
      margin-left: $spacing-loosest*4;

      .flex {
        margin: 0;
      }
    }
  }
  .intro {
    @include remSize(32px);
    border-bottom: 1px solid $c-gray400;
    margin-bottom:$spacing-loosest;
  }
  .customer-types {
    .feature {
      margin: $spacing-loosest auto $spacing-loosest;
      padding: $spacing-loosest 0;

      &.divider {
        background-size: 75%;

        &:nth-of-type(5) {
          background: transparent;
        }
      }

      h3 {
        @include remSize($fsHeadline);
      }
    }

    .laptop {
      background: url("/imgs/divide-with-shadow.png") no-repeat -400% 80%;
      background-size: 95%;
    }
    .expenses {
      background: url("/imgs/product-shots/expenses-section-bg.jpg") no-repeat right top;
      background-size: cover;
      height: 470px;
      margin-bottom: 0;
      padding: 0;
      position: relative;

      span{
        height: 470px;
        position: absolute;
        top: -20px;
        left: 0;
        width: 50%;

        img {
          max-width: 100%;
        }
      }
      .content {
        color: $white;
        position: absolute;
        top: 80px;
        right: 0;
        width: 35%;
      }
      p {
        color: $white;
      }
    }

    .content {
      padding: 0 $spacing $spacing-loosest $spacing-loosest;
    }
  }
}

@include media-min( $screenLarger ) {
  .home {

    h1,
    h2 {
      //@include remSize($fsDisplay3);
      margin-left: $spacing-loosest*6;
    }
    .hero {
      background-size: cover;
    }
    .hero-buttons{
      margin-left: $spacing-loosest*6;
    }
  }
  .customer-types {
    .expenses {
      span {
        left: 10%;
      }
      .content {
        right: 10%;
      }
    }
  }
}

@media( max-height: 650px ) and ( min-width: $screenLarge ) {
  .hero-buttons {
    margin-top: 0;
  }
}
