
.enterprise {
  background: url("/imgs/pricing/enterprise.jpg") no-repeat right bottom $c-dark;
  padding: $spacing;

  h3,
  p {
    color: $c-white;
    margin: $spacing-tight 0;
    width: 60%;
  }
}

@include media-min($screenMedium) {

  .pricing,
  .sign-up {

    .free {
      @include clearfix();
      float: left;
      width: 60%;
    }
    .request-demo {
      float: right;
      width: 30%;
    }
  }
  .enterprise {
    @include clearfix();

    p {
      float: left;
    }
    .btn {
      float: right;
    }
  }
}
