---
permalink: /about-travelperk/
title: The TravelPerk story
nav-header: true
nav-title: About
id: about
---

<section class="story">
  <div class="wrapper">
    <p class="intro">We are setting out to reinvent the way that companies book and manage business travel.</p>
    <p>The TravelPerk application is a tool created for travelers, by travelers. With more than half of our team made up of travel industry veterans, with some coming from the likes of Booking.com and Skyscanner, you could say that we know what the travel booking experience should look like.</p>
    <p>In 2015, the co-founders were troubled by leisure travelers having a myriad of online tools and apps to help them plan and coordinate their trips, while business travelers were stuck using outdated and overly complicated tools.</p>
    <p>Our focus is to make business travel booking and management suck less, and we aim to do this by providing a best-in-class experience whilst continuing to adapt and develop for the needs of the industry and our clients. We will do this by continuing to build a great team and by merging the latest technologies with the best experiences.</p>
  </div>
</section>

<section class="team">
  <h2>The TravelPerk team</h2>

  {% assign team_sorted = (site.data.team | sort: 'name') %}
  <div class="clearfix">
    {% for person in team_sorted %}
      <a target="_blank" class="team-member" href="{% if person.linkedin %}{{ person.linkedin }}{% endif %}" {% if person.linkedin == null %}onClick="return false;"{% endif %}>
        <span class="background">
          <img src="/imgs/team/{{ person.image }}" alt="{{ person.name }}"/>
        </span>
        <h3 class="title">{{ person.name }}</h3>
        <h4 class="body text-disabled">
          {{ person.role }}
          {% if person.linkedin %}
            <span>View on LinkedIn</span>
            {% else %}
            <span>Sorry, I don't have a LinkedIn profile</span>
          {% endif %}
        </h4>
        <div class="profile-overlay"></div>
      </a>
    {% endfor %}
  </div>
</section>

<section class="bg-gray-dark jobs">
  <div class="wrapper">
    <h2>Join our team</h2>
    <h3>Are you passionate about shaping the future of business travel?</h3>
    <a href="https://travelperk.bamboohr.co.uk/jobs/" class="btn primary">Join the Team</a>
  </div>
</section>
