.overlay {
  background: transparentize($black, 0.1);
  display: none;
  height: 100%;
  top: 0;
  overflow-y: scroll;
  width: 100%;

  h2 {
    color: $white;
    margin-top: 0;
  }

  button {
    margin-bottom: 0;
  }

  .request-demo {
    background: transparent;
  }
}
