.overlay {
  background: transparentize($black, 0.1);
  display: none;
  height: 100%;
  top: 0;
  overflow-y: scroll;
  width: 100%;

  h2 {
    color: $white;
    margin: $spacing 0;
    text-align: left;
  }

  button {
    margin-bottom: 0;
  }

  .request-demo {
    background: transparent;
  }
}

@include media-min($screenMedium) {
  .overlay {

    h2 {
      text-align: center;
    }

    .icon-close {
      margin-top: $spacing-tight;
    }
  }
}
