.request-demo {
  background: $c-gray900;

  h2,
  h3 {
    color: $white;
    text-align: center;
  }
  form {
    max-width:75%;
  }
}

@include media-min($screenMedium) {
  .request-demo {

    form {

      span {
        padding-right: $spacing;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .card {
      margin: $spacing auto;
      max-width: 75%;
    }

  }
}
