.testimonials {
  img{
    max-width: 180px;
  }
  ul{
    max-width: 100%;
  }
}
.testimonial-logo {
  display: block;
  margin: $spacing auto $spacing-looser;
}

@include media-min($screenMedium) {
  .testimonial-logo {
    float: left;
  }
  .testimonials {
    img{
      position: absolute;
      left: $spacing;
    }
    li{
      margin-left: 200px;
    }
    h3 {
      margin-left: $spacing-loosest;
    }
  }
}
