---
layout: default
---
<div class="post wrapper">

  <header class="post-header">
    <p class="post-meta">Written by {{ page.author }} | {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer class="author-block">
    {% assign author = page.author %}
      {{ author.img }}
    {% for test in site.data.team.exec.name == "Ron Levin" %}
      {{ test }}
    {% endfor %}
  </footer>
</div>
