---
layout: default
---
<div class="post wrapper">

  <header class="post-header">
    <p class="post-meta">{% if page.author %}Written by {{ page.author }} • {% endif %}{{ page.date | date: "%b %d, %Y" }}</p>
  </header>

  <article class="post-content">
    {{ content }}

    <footer>
      <p class="category">
        {% if page.categories %}
          Category: <strong>{{ page.categories }}</strong>
        {% endif %}
      </p>
    </footer>
    <!--Start of Leadin Embed-->
    <script type="text/javascript" src="//js.leadin.com/js/v1/2471398.js" id="LeadinEmbed-2471398" crossorigin="use-credentials" async defer></script>
    <!-- End of Leadin Embed -->
  </article>

  <footer class="author-block">
    {% assign articleAuthor = page.author | downcase %}
    {% if articleAuthor == "ron" %}
      <img src="/imgs/team/ron-levin.jpg" alt="Ron Levin">
      <h4>Ron Levin</h4>
      <p>Strategic Advisor & Co-founder</p>
      <a href="https://www.linkedin.com/profile/view?id=ADEAAAAAlPABPzqPCzkfeUz2OdzJjy_bSDBjF9E">LinkedIn</a>
    {% elsif articleAuthor == "avi" %}
      <img src="/imgs/team/avi-meir.jpg" alt="Avi Meir">
      <h5>About the Author:</h5>
      <h4><a href="https://es.linkedin.com/in/avimeir" title="Connect with Avi on LinkedIn">Avi Meir</a></h4>
      <p>Avi Meir is the Co-Founder and CEO of <a href="http://travelperk.com/">TravelPerk</a>.</p>
    {% elsif articleAuthor == "javier" %}
      <img src="/imgs/team/javier-suarez.jpg" alt="Javier Suarez">
      <h5>About the Author:</h5>
      <h4><a href="https://www.linkedin.com/in/javier-suarez-4b800362" title="Connect with Javier on LinkedIn">Javier Suarez</a></h4>
      <p>Javier Suarez is the Co-Founder and CPO of <a href="http://travelperk.com/">TravelPerk</a>.</p>
    {% endif %}
  </footer>

  <div class="pager-navigation">
    {% if page.previous.url %}
    <div class="prev">
      Previous article: <br><a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="next">
      Next article: <br><a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    </div>
    {% endif %}
  </div>

</div>

<section id="request-demo" class="request-demo bg-gray-dark">

  <h3>Making business travel management a whole lot simpler.</h3>
  <h2 class="wrapper">Ready to get started?</h2>

  <form accept-charset="UTF-8" action="http://formspree.io/{{ site.contact.sales }}" method="POST" class="sign-up-form" id="sign_up_form_blog"
        data-gaCategory="Signup"
        data-gaAction="SubmitContact"
        data-gaLabel="BlogFooter">

    {% include component/form-request-demo.html %}

    <button id="request-demo-submit" type="submit">Request demo</button>
  </form>
</section>
