---
layout: default
---
<div class="post wrapper">

  <header class="post-header">
    <p class="post-meta">{% if page.author %}Written by {{ page.author }} • {% endif %}{{ page.date | date: "%b %-d, %Y" }}</p>
  </header>

  <article class="post-content">
    {{ content }}

    <footer>
      <p class="category">
        {% if page.categories %}
          Category: <strong>{{ page.categories }}</strong>
        {% endif %}
      </p>
    </footer>
  </article>

  <footer class="author-block">
    {% if page.author == "Ron Levin" %}
    <img src="/imgs/team/ron-levin.png" alt="Ron Levin">
    <h4>Ron Levin</h4>
    <p>Strategic Advisor & Co-founder</p>
    <a href="https://www.linkedin.com/profile/view?id=ADEAAAAAlPABPzqPCzkfeUz2OdzJjy_bSDBjF9E">LinkedIn</a>
    {% else %}
    <img src="/imgs/team/javier-suarez.png" alt="Javier Suarez">
    <h4>Javier Suarez</h4>
    <p>Chief Product Officer</p>
    <a href="https://www.linkedin.com/in/javier-suarez-4b800362">LinkedIn</a>
    {% endif %}
  </footer>

  <div class="pager-navigation">
    {% if page.previous.url %}
    <div class="prev">
      Previous article: <br><a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="next">
      Next article: <br><a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    </div>
    {% endif %}
  </div>

</div>
